*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3{
    font-size: 16px;
    border: 1px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-size: 17x;
    border: 1px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#btn1{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}

#btn2{
    color: white;
    background-color: orangered;    
    padding: 7px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

#main>h1{
    font-size: 110px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 350px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-lef{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size:  14px;
    font-weight: 400;
}

#btm-rig{
    position: absolute;
    bottom: 5%;
    right: 3%;
}

#btm-rig h5{
    font-size:  12px;
    font-weight: 200;
}